@keyframes animation-checking

{
    20% {transform: translateX(10px);}
    40% {transform: translateX(-10px);}
    60% {transform: translateX(10px);}
    80% {transform: translateX(-10px);}
    100% {transform: translateX(0px);}
}

@mixin deskop-view {
    @media screen and (min-width: 600px){
        @content
    }
}

@mixin divider-character ($color) {
    width: 100px ; 
    height: 2px ; 
    background: $color ;
    margin: 0 auto ;
}


@mixin mobile-only {
    @media screen and (max-width: 600px)
    {
        @content
    }
}


